# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C-extension files
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/*
ENV/
env/
.env/

# PyInstaller
*.manifest
*.spec

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
